interactions:
- request:
    body: "{\n  \"query\": {\n    \"text\": \"What was Alphabet's revenue in 2022?\"\n
      \ },\n  \"answerGenerationSpec\": {\n    \"modelSpec\": {\n      \"modelVersion\":
      \"stable\"\n    }\n  },\n  \"asynchronousMode\": true\n}"
    headers:
      Content-Type:
      - application/json
      x-goog-request-params:
      - serving_config=projects/sdk-dev-508013/locations/global/collections/default_collection/engines/braintrust-sdk-test_1789580029521/servingConfigs/default_search
    method: POST
    uri: https://discoveryengine.googleapis.com/v1/projects/sdk-dev-508013/locations/global/collections/default_collection/engines/braintrust-sdk-test_1789580029521/servingConfigs/default_search:answer?%24alt=json%3Benum-encoding%3Dint
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 400,\n    \"message\": \"Request contains
        an invalid argument: asynchronous mode is deprecated.\",\n    \"status\":
        \"INVALID_ARGUMENT\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 400
      message: Bad Request
version: 1
