interactions:
- request:
    body: "{\n  \"answerCandidate\": \"Braintrust evaluates AI applications.\",\n
      \ \"facts\": [\n    {\n      \"factText\": \"Braintrust is a platform for evaluating
      AI applications.\"\n    }\n  ]\n}"
    headers:
      Content-Type:
      - application/json
      x-goog-request-params:
      - grounding_config=projects/sdk-dev-508013/locations/global/groundingConfigs/default_grounding_config
    method: POST
    uri: https://discoveryengine.googleapis.com/v1/projects/sdk-dev-508013/locations/global/groundingConfigs/default_grounding_config:check?%24alt=json%3Benum-encoding%3Dint
  response:
    body:
      string: "{\n  \"supportScore\": 0.99110764,\n  \"citedChunks\": [\n    {\n      \"chunkText\":
        \"Braintrust is a platform for evaluating AI applications.\",\n      \"source\":
        \"0\"\n    }\n  ],\n  \"claims\": [\n    {\n      \"startPos\": 0,\n      \"endPos\":
        37,\n      \"claimText\": \"Braintrust evaluates AI applications.\",\n      \"citationIndices\":
        [\n        0\n      ],\n      \"groundingCheckRequired\": true\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
