interactions:
- request:
    body: "{\n  \"query\": {\n    \"text\": \"What was Alphabet's revenue in 2022?\"\n
      \ },\n  \"answerGenerationSpec\": {\n    \"modelSpec\": {\n      \"modelVersion\":
      \"stable\"\n    }\n  }\n}"
    headers:
      Content-Type:
      - application/json
      x-goog-request-params:
      - serving_config=projects/sdk-dev-508013/locations/global/collections/default_collection/engines/braintrust-sdk-test_1789580029521/servingConfigs/default_search
    method: POST
    uri: https://discoveryengine.googleapis.com/v1/projects/sdk-dev-508013/locations/global/collections/default_collection/engines/braintrust-sdk-test_1789580029521/servingConfigs/default_search:answer?%24alt=json%3Benum-encoding%3Dint
  response:
    body:
      string: "{\n  \"answer\": {\n    \"state\": 3,\n    \"answerText\": \"Alphabet's
        total revenue in 2022 was $282,836 million. This represents a 10% increase
        year-over-year, or 14% in constant currency.\\n\\nHere's a breakdown of Alphabet's
        2022 revenues by segment and type:\\n\\n**By Segment:**\\n*   Google Services:
        $253,528 million\\n*   Google Cloud: $26,280 million\\n*   Other Bets: $1,068
        million\\n*   Hedging gains (losses): $1,960 million\\n\\n**By Type (within
        Google Services):**\\n*   Google Search & other: $162,450 million\\n*   YouTube
        ads: $29,243 million\\n*   Google Network: $32,780 million\\n*   Google advertising
        (total): $224,473 million\\n*   Google other: $29,055 million\\n\\n**By Geography:**\\n*
        \  United States: $134,814 million (48%)\\n*   EMEA (Europe, Middle East,
        and Africa): $82,062 million (29%)\\n*   APAC (Asia-Pacific): $47,024 million
        (16%)\\n*   Other Americas: $16,976 million (6%)\\n*   Hedging gains (losses):
        $1,960 million (1%)\\n\\nAlphabet's CFO, Ruth Porat, stated that Q4 2022 consolidated
        revenues were $76 billion, up 1% year over year, or up 7% in constant currency,
        and the full year 2022 revenue was $283 billion, up 10%, or up 14% in constant
        currency.\\n\\nFor the first quarter of 2022, Alphabet reported revenues of
        $68,011 million, a 23% year-over-year growth. In the third quarter of 2022,
        revenues were $69.1 billion, up 6% versus the prior year or up 11% on a constant
        currency basis.\",\n    \"steps\": [\n      {\n        \"state\": 3,\n        \"description\":
        \"Rephrase the query and search.\",\n        \"actions\": [\n          {\n
        \           \"searchAction\": {\n              \"query\": \"What was Alphabet's
        revenue in 2022?\"\n            },\n            \"observation\": {\n              \"searchResults\":
        [\n                {\n                  \"document\": \"projects/479238727071/locations/global/collections/default_collection/dataStores/braintrust-sdk-test-docs_1789580119475/branches/0/documents/513da7d1b9f7739087606aadc626f2dc\",\n
        \                 \"uri\": \"gs://cloud-samples-data/gen-app-builder/search/alphabet-investor-pdfs/2022Q4_alphabet_earnings_release.pdf\",\n
        \                 \"title\": \"GOOG Exhibit 99.1 Q4 2022\",\n                  \"snippetInfo\":
        [\n                    {\n                      \"snippet\": \"... \\u003cb\\u003eAlphabet\\u003c/b\\u003e.\u201D
        Ruth Porat, CFO of \\u003cb\\u003eAlphabet\\u003c/b\\u003e and Google, said:
        \u201COur Q4 consolidated \\u003cb\\u003erevenues\\u003c/b\\u003e were $76
        billion, up 1% year over year, or up 7% in constant currency&nbsp;...\",\n
        \                     \"snippetStatus\": \"SUCCESS\"\n                    }\n
        \                 ]\n                },\n                {\n                  \"document\":
        \"projects/479238727071/locations/global/collections/default_collection/dataStores/braintrust-sdk-test-docs_1789580119475/branches/0/documents/c201efed2be20c6a4116611ea16be9cd\",\n
        \                 \"uri\": \"gs://cloud-samples-data/gen-app-builder/search/alphabet-investor-pdfs/2022Q1_alphabet_earnings_release.pdf\",\n
        \               [...]
