repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: (queryscript/tests/.*\.(expected|test)|.*cassette.*\.ya?ml)$
      - id: trailing-whitespace
        exclude: (queryscript/tests/.*\.(expected|test)|.*cassette.*\.ya?ml)$
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.7
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        exclude: >
          (?x)^(
              .*\.(json|prisma|svg)
              |.*.yaml
              |.*/cassettes/.*
          )$
        args:
          - "-L"
          - "rouge,coo,couldn,unsecure,ontext,afterall,als"
