interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://www.braintrust.dev/api/apikey/login
  response:
    body:
      string: '{"org_info":[{"id":"f5883013-b5c1-438d-9044-5182b4682337","name":"abhi-test-org","api_url":"https://api.braintrust.dev","git_metadata":{"collect":"some","fields":["commit","branch","tag","dirty","author_name","author_email","commit_message","commit_time"]},"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13kwty4qcjgae"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/apikey/login
      X-Nonce:
      - NzZmZGRlMDYtZDJjMi00MzBlLWE3YzItNGIxNjBjODdmNTY0
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - yul1::iad1::84svx-1787080610011-df51cc1ed532
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "python-sdk-generated-datasets-vcr", "org_name": "abhi-test-org"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/project
  response:
    body:
      string: '{"id":"6becfeb2-3373-4c68-abe2-c214f032ee92","org_id":"f5883013-b5c1-438d-9044-5182b4682337","name":"python-sdk-generated-datasets-vcr","description":null,"created":"2026-08-18T19:16:50.545Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"113-3hKC9royA/xKcWxXJmZwtU0isks"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CUBhcGrtoAMEFrw=
      x-amzn-RequestId:
      - 73d7e86f-22fb-4c73-8593-cc9bde4affd9
      x-bt-internal-trace-id:
      - 6a84afa2000000005892b014c4bafaf6
    status:
      code: 200
      message: OK
- request:
    body: '{"project_id": "6becfeb2-3373-4c68-abe2-c214f032ee92", "name": "generated-datasets-api",
      "description": "created by the Python SDK VCR test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/dataset
  response:
    body:
      string: '{"id":"89cb25ac-eb76-4412-b07a-63f515b8d27d","project_id":"6becfeb2-3373-4c68-abe2-c214f032ee92","name":"generated-datasets-api","description":"created
        by the Python SDK VCR test","created":"2026-08-18T19:16:50.914Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","tags":null,"metadata":null,"url_slug":"generated-datasets-api"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"15c-q4UVzcnUvQwHMI7NwtPhRuqMwjE"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CUBhgG8gIAMEpbw=
      x-amzn-RequestId:
      - 38fbf005-3946-425b-bb5f-aae0868902a9
      x-bt-internal-trace-id:
      - 6a84afa200000000197bf6756a431c32
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/dataset?dataset_name=generated-datasets-api&project_id=6becfeb2-3373-4c68-abe2-c214f032ee92
  response:
    body:
      string: '{"objects":[{"id":"89cb25ac-eb76-4412-b07a-63f515b8d27d","project_id":"6becfeb2-3373-4c68-abe2-c214f032ee92","name":"generated-datasets-api","description":"created
        by the Python SDK VCR test","created":"2026-08-18T19:16:50.914Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","tags":null,"metadata":null,"url_slug":"generated-datasets-api"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"16a-+aZCvtO7b694f3OFpEoTZISOies"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CUBhjHXLoAMEdCA=
      x-amzn-RequestId:
      - 14309159-53fb-4a9b-b2c4-a49dd2fc1f7a
      x-bt-internal-trace-id:
      - 6a84afa300000000379cfd38f9e43c5f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/dataset/89cb25ac-eb76-4412-b07a-63f515b8d27d
  response:
    body:
      string: '{"id":"89cb25ac-eb76-4412-b07a-63f515b8d27d","project_id":"6becfeb2-3373-4c68-abe2-c214f032ee92","name":"generated-datasets-api","description":"created
        by the Python SDK VCR test","created":"2026-08-18T19:16:50.914Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","tags":null,"metadata":null,"url_slug":"generated-datasets-api"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"15c-q4UVzcnUvQwHMI7NwtPhRuqMwjE"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CUBhmEWmoAMEdAQ=
      x-amzn-RequestId:
      - 0d846bfe-e51e-45d6-9bb2-ae15784c3cb8
      x-bt-internal-trace-id:
      - 6a84afa3000000003cf4079af97f50c8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"events": [{"id": "generated-datasets-row", "input": {"question": "What
      is the answer?", "context": {"preserved": true}, "replace_me": {"old": true}},
      "expected": "42", "tags": ["keep", "remove"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/dataset/89cb25ac-eb76-4412-b07a-63f515b8d27d/insert
  response:
    body:
      string: '{"row_ids":["generated-datasets-row"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"26-dbcFrOkyOLEBqu8mqJRcuZNKqKk"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CUBhrEaSIAMEdAQ=
      x-amzn-RequestId:
      - dc979b3a-d67d-4605-84bf-7799585b2419
      x-bt-internal-trace-id:
      - 6a84afa30000000052530fb0ede83e00
    status:
      code: 200
      message: OK
- request:
    body: '{"events": [{"id": "generated-datasets-row", "_is_merge": true, "_merge_paths":
      [["input", "replace_me"]], "_array_delete": [{"path": ["tags"], "delete": ["remove"]}],
      "input": {"question": "What is the updated answer?", "replace_me": {"new": true}}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/dataset/89cb25ac-eb76-4412-b07a-63f515b8d27d/insert
  response:
    body:
      string: '{"row_ids":["generated-datasets-row"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"26-dbcFrOkyOLEBqu8mqJRcuZNKqKk"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CUBhyE7zoAMEgdA=
      x-amzn-RequestId:
      - 93bbc886-ac58-4f29-bbf9-572af8e74687
      x-bt-internal-trace-id:
      - 6a84afa4000000003bcb26f2149e1977
    status:
      code: 200
      message: OK
- request:
    body: '{"limit": 10}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/dataset/89cb25ac-eb76-4412-b07a-63f515b8d27d/fetch
  response:
    body:
      string: '{"events":[{"_pagination_key":"p07675452787713376256","_xact_id":"1000197710368010024","audit_data":[{"_xact_id":"1000197710368007664","audit_data":{"action":"upsert"},"metadata":{},"source":"api"},{"_xact_id":"1000197710368010024","audit_data":{"action":"merge","deleted_tags":["remove"],"from":null,"path":["input"],"to":{"question":"What
        is the updated answer?","replace_me":{"new":true}}},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"created":"2026-08-18T19:16:52.005Z","dataset_id":"89cb25ac-eb76-4412-b07a-63f515b8d27d","expected":"42","facets":null,"id":"generated-datasets-row","input":{"context":{"preserved":true},"question":"What
        is the updated answer?","replace_me":{"new":true}},"is_root":true,"metadata":null,"origin":null,"project_id":"6becfeb2-3373-4c68-abe2-c214f032ee92","root_span_id":"76c1479f-745e-495d-9e5f-746b1cc37f6b","span_id":"76c1479f-745e-495d-9e5f-746b1cc37f6b","tags":["keep"]}],"cursor":"aoSvpOXwAAA"}'
    headers:
      Content-Type:
      - application/json
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CUBh2H7goAMEg8w=
      x-amzn-RequestId:
      - 50434e45-687a-4377-a232-ffac81a5ac22
      x-bt-api-duration-ms:
      - '151'
      x-bt-brainstore-duration-ms:
      - '91'
      x-bt-cursor:
      - aoSvpOXwAAA
      x-bt-internal-trace-id:
      - 6a84afa40000000075ba2e57df524d3c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/dataset/89cb25ac-eb76-4412-b07a-63f515b8d27d/fetch?limit=10
  response:
    body:
      string: '{"events":[{"_pagination_key":"p07675452787713376256","_xact_id":"1000197710368010024","audit_data":[{"_xact_id":"1000197710368007664","audit_data":{"action":"upsert"},"metadata":{},"source":"api"},{"_xact_id":"1000197710368010024","audit_data":{"action":"merge","deleted_tags":["remove"],"from":null,"path":[[...]
- request:
    body: '{"feedback": [{"id": "generated-datasets-row", "comment": "useful example"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/dataset/89cb25ac-eb76-4412-b07a-63f515b8d27d/feedback
  response:
    body:
      string: '{"status":"success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"14-Y53wuE/mmbSikKcT/WualL1N65U"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CUBh7EC7oAMEQpA=
      x-amzn-RequestId:
      - a0bdeaa2-b3b6-4a60-ab3b-a374ccfc3969
      x-bt-internal-trace-id:
      - 6a84afa50000000010f97d31db76d69d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/dataset/89cb25ac-eb76-4412-b07a-63f515b8d27d/summarize?summarize_data=true
  response:
    body:
      string: '{"project_name":"python-sdk-generated-datasets-vcr","project_url":"https://www.braintrust.dev/app/abhi-test-org/p/python-sdk-generated-datasets-vcr","dataset_name":"generated-datasets-api","dataset_url":"https://www.braintrust.dev/app/abhi-test-org/p/python-sdk-generated-datasets-vcr/datasets/generated-datasets-api","data_summary":{"total_records":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"161-P7RvUEYLkYD3c1Rw/5Met/O3De8"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CUBh-G85oAMEjDA=
      x-amzn-RequestId:
      - c1474347-1bcc-492d-89d2-b40d6f59029f
      x-bt-internal-trace-id:
      - 6a84afa5000000001962b58fe7ea0a98
    status:
      code: 200
      message: OK
- request:
    body: '{"events": [{"id": "generated-datasets-row", "_object_delete": true}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/dataset/89cb25ac-eb76-4412-b07a-63f515b8d27d/insert
  response:
    body:
      string: '{"row_ids":["generated-datasets-row"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"26-dbcFrOkyOLEBqu8mqJRcuZNKqKk"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CUBiBF78IAMEIsg=
      x-amzn-RequestId:
      - f96c2722-70f8-4742-92f5-1a20cdc4476c
      x-bt-internal-trace-id:
      - 6a84afa600000000489014ea0c7b404c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.braintrust.dev/v1/project/6becfeb2-3373-4c68-abe2-c214f032ee92
  response:
    body:
      string: '{"id":"6becfeb2-3373-4c68-abe2-c214f032ee92","org_id":"f5883013-b5c1-438d-9044-5182b4682337","name":"python-sdk-generated-datasets-vcr","description":null,"created":"2026-08-18T19:16:50.545Z","deleted_at":"2026-08-18T19:16:55.150Z","user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"129-uJdSvT7FK2jzVCxT+dSJlCP73hg"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CUBiLHVAIAMEnIw=
      x-amzn-RequestId:
      - f04c0695-444a-4b1a-96b5-0defc97aaa32
      x-bt-internal-trace-id:
      - 6a84afa7000000006d33629688bf93aa
    status:
      code: 200
      message: OK
version: 1
