interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://www.braintrust.dev/api/apikey/login
  response:
    body:
      string: '{"org_info":[{"id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"Braintrust
        SDKs","api_url":"https://api.braintrust.dev","git_metadata":{"collect":"some","fields":["commit","branch","tag","dirty","author_name","author_email","commit_message","commit_time"]},"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13vsc5ye8flag"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/apikey/login
      X-Nonce:
      - NzM1NDMwMWUtZDI2YS00OTdlLWI4NjktZTg0NTlmZDAyMjJh
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - yul1::iad1::gqw2f-1788452182643-ffc996c1c907
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "python-sdk-high-level-prompts-vcr", "org_name": "Braintrust SDKs"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/project
  response:
    body:
      string: '{"id":"35678b82-85af-4cfe-be4e-a54d23777c2b","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-high-level-prompts-vcr","description":null,"created":"2026-09-03T16:16:24.769Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"113-rcwHcmM04rQSX4ehMbJhZ5ulU6k"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: '{"project_id": "35678b82-85af-4cfe-be4e-a54d23777c2b", "name": "Generated
      prompts API", "slug": "generated-prompts-api", "description": "loaded through
      braintrust.load_prompt", "prompt_data": {"prompt": {"type": "chat", "messages":
      [{"role": "user", "content": "Hello {{name}}"}]}, "options": {"model": "gpt-5-mini"}},
      "tags": ["python-sdk-vcr"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/prompt
  response:
    body:
      string: '{"log_id":"p","project_id":"35678b82-85af-4cfe-be4e-a54d23777c2b","slug":"generated-prompts-api","name":"Generated
        prompts API","description":"loaded through braintrust.load_prompt","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Hello
        {{name}}"}]},"options":{"model":"gpt-5-mini"}},"tags":["python-sdk-vcr"],"id":"ce6dc63d-3e88-4909-8d41-93de0161ffc2","created":"2026-09-03T16:16:25.473Z","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","_xact_id":"1000197800255422556"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1f4-khFsYy3ummb/hydHGyN7R1VTYXc"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/prompt?project_id=35678b82-85af-4cfe-be4e-a54d23777c2b&slug=generated-prompts-api&version=1000197800255422556
  response:
    body:
      string: '{"objects":[{"_xact_id":"1000197800255422556","created":"2026-09-03T16:16:25.473Z","description":"loaded
        through braintrust.load_prompt","function_type":null,"id":"ce6dc63d-3e88-4909-8d41-93de0161ffc2","log_id":"p","metadata":null,"name":"Generated
        prompts API","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","project_id":"35678b82-85af-4cfe-be4e-a54d23777c2b","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Hello
        {{name}}"}]},"options":{"model":"gpt-5-mini"}},"slug":"generated-prompts-api","tags":["python-sdk-vcr"],"function_data":{"type":"prompt"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"249-/cP2GbxxnMYMEzi0cdC3Il6mOGw"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/prompt/ce6dc63d-3e88-4909-8d41-93de0161ffc2
  response:
    body:
      string: '{"_xact_id":"1000197800255422556","created":"2026-09-03T16:16:25.473Z","description":"loaded
        through braintrust.load_prompt","function_type":null,"id":"ce6dc63d-3e88-4909-8d41-93de0161ffc2","log_id":"p","metadata":null,"name":"Generated
        prompts API","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","project_id":"35678b82-85af-4cfe-be4e-a54d23777c2b","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Hello
        {{name}}"}]},"options":{"model":"gpt-5-mini"}},"slug":"generated-prompts-api","tags":["python-sdk-vcr"],"function_data":{"type":"prompt"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"23b-/KFI4pcarF3TZSFsVQiLr5y6IQI"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.braintrust.dev/v1/prompt/ce6dc63d-3e88-4909-8d41-93de0161ffc2
  response:
    body:
      string: '{"log_id":"p","project_id":"35678b82-85af-4cfe-be4e-a54d23777c2b","slug":"generated-prompts-api","id":"ce6dc63d-3e88-4909-8d41-93de0161ffc2","created":"2026-09-03T16:16:29.251Z","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","_object_delete":true,"_xact_id":"1000197800255620906"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"119-eTVpPLlxCg6iQAgsHfDOp+60+8w"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.braintrust.dev/v1/project/35678b82-85af-4cfe-be4e-a54d23777c2b
  response:
    body:
      string: '{"id":"35678b82-85af-4cfe-be4e-a54d23777c2b","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-high-level-prompts-vcr","description":null,"created":"2026-09-03T16:16:24.769Z","deleted_at":"2026-09-03T16:16:29.511Z","user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"129-1akA1b547h8pAi2rMOvr8w8D+nw"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
version: 1
