interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://www.braintrust.dev/api/apikey/login
  response:
    body:
      string: '{"org_info":[{"id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"Braintrust
        SDKs","api_url":"https://api.braintrust.dev","git_metadata":{"collect":"some","fields":["commit","branch","tag","dirty","author_name","author_email","commit_message","commit_time"]},"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13vsc5ye8flag"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/apikey/login
      X-Nonce:
      - OGM3ZTg1YWQtMTdiMS00NGJmLWI0ODktMDRiZDYyODQyN2E4
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - yul1::iad1::r7p8z-1789048998662-8107cc23334a
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "python-sdk-generated-functions-vcr", "org_name": "Braintrust
      SDKs"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/project
  response:
    body:
      string: '{"id":"08507b0c-d606-4609-aab2-935137072001","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-generated-functions-vcr","description":null,"created":"2026-09-10T14:03:19.036Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"114-IdOSjpJ3ntaa9kT95Tw94fuqONU"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: '{"project_id": "08507b0c-d606-4609-aab2-935137072001", "name": "Generated
      parameters API", "slug": "generated-parameters-api", "function_type": "parameters",
      "function_data": {"type": "parameters", "data": {"prefix": "created"}, "__schema":
      {"type": "object", "properties": {"prefix": {"type": "string"}}}}, "tags": ["python-sdk-vcr"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/function
  response:
    body:
      string: '{"log_id":"p","project_id":"08507b0c-d606-4609-aab2-935137072001","slug":"generated-parameters-api","name":"Generated
        parameters API","function_type":"parameters","function_data":{"type":"parameters","data":{"prefix":"created"},"__schema":{"type":"object","properties":{"prefix":{"type":"string"}}}},"tags":["python-sdk-vcr"],"id":"a1105df5-e620-4879-8639-6d0e88064b7e","created":"2026-09-10T14:03:19.646Z","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","_xact_id":"1000197839368165794"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1e8-BY0ZAgesLRigq/bh42VeExhGf14"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/function?limit=1&project_id=08507b0c-d606-4609-aab2-935137072001&slug=generated-parameters-api
  response:
    body:
      string: '{"objects":[{"_xact_id":"1000197839368165794","created":"2026-09-10T14:03:19.646Z","description":null,"function_data":{"data":{"prefix":"created"},"type":"parameters","__schema":{"type":"object","properties":{"prefix":{"type":"string"}}}},"function_schema":null,"function_type":"parameters","id":"a1105df5-e620-4879-8639-6d0e88064b7e","log_id":"p","metadata":null,"name":"Generated
        parameters API","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","origin":null,"project_id":"08507b0c-d606-4609-aab2-935137072001","prompt_data":null,"slug":"generated-parameters-api","tags":["python-sdk-vcr"]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"251-tovtkSKxeFWJZhS5AFol14P4tS8"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/function/a1105df5-e620-4879-8639-6d0e88064b7e?version=1000197839368165794
  response:
    body:
      string: '{"_xact_id":"1000197839368165794","created":"2026-09-10T14:03:19.646Z","description":null,"function_data":{"data":{"prefix":"created"},"type":"parameters","__schema":{"type":"object","properties":{"prefix":{"type":"string"}}}},"function_schema":null,"function_type":"parameters","id":"a1105df5-e620-4879-8639-6d0e88064b7e","log_id":"p","metadata":null,"name":"Generated
        parameters API","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","origin":null,"project_id":"08507b0c-d606-4609-aab2-935137072001","prompt_data":null,"slug":"generated-parameters-api","tags":["python-sdk-vcr"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"243-XXeb1y2oCPX2Op1TahsZvNXG0MU"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "updated by the Python SDK VCR test"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.braintrust.dev/v1/function/a1105df5-e620-4879-8639-6d0e88064b7e
  response:
    body:
      string: '{"name":"Generated parameters API","slug":"generated-parameters-api","tags":["python-sdk-vcr"],"log_id":"p","project_id":"08507b0c-d606-4609-aab2-935137072001","function_data":{"data":{"prefix":"created"},"type":"parameters","__schema":{"type":"object","properties":{"prefix":{"type":"string"}}}},"function_type":"parameters","description":"updated
        by the Python SDK VCR test","id":"a1105df5-e620-4879-8639-6d0e88064b7e","created":"2026-09-10T14:03:19.646Z","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","_xact_id":"1000197839368292659"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"21b-D0qHZDN7h+QbJLsOcN7cO2VnDks"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.braintrust.dev/v1/function/a1105df5-e620-4879-8639-6d0e88064b7e
  response:
    body:
      string: '{"log_id":"p","project_id":"08507b0c-d606-4609-aab2-935137072001","slug":"generated-parameters-api","id":"a1105df5-e620-4879-8639-6d0e88064b7e","created":"2026-09-10T14:03:21.720Z","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","_object_delete":true,"_xact_id":"1000197839368296140"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"11c-pgg0wzu1y6NXXOH+mJ/Gh0m+CV4"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.braintrust.dev/v1/project/08507b0c-d606-4609-aab2-935137072001
  response:
    body:
      string: '{"id":"08507b0c-d606-4609-aab2-935137072001","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-generated-functions-vcr","description":null,"created":"2026-09-10T14:03:19.036Z","deleted_at":"2026-09-10T14:03:21.935Z","user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"12a-edqlR7oYU1y36+zrRPNZcTgewbg"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
version: 1
