interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://www.braintrust.dev/api/apikey/login
  response:
    body:
      string: '{"org_info":[{"id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"Braintrust
        SDKs","api_url":"https://api.braintrust.dev","git_metadata":{"collect":"some","fields":["commit","branch","tag","dirty","author_name","author_email","commit_message","commit_time"]},"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13vsc5ye8flag"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/apikey/login
      X-Nonce:
      - NWQxZWQ1N2ItYTlkMS00ODNjLTgyMTMtOGMzYjNlYmM0ZmRl
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - yul1::iad1::nbxrq-1787153674238-664a47219c78
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "python-sdk-generated-projects-vcr", "description": "created by
      the Python SDK VCR test", "org_name": "Braintrust SDKs"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/project
  response:
    body:
      string: '{"id":"7cb22019-3d25-4b51-98a1-63c46abd8bf3","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-generated-projects-vcr","description":"created
        by the Python SDK VCR test","created":"2026-08-19T15:34:34.696Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"133-AwrbwRApgCQLZaKIW0a3n2CLRn0"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CWz5tHgFIAMEXiA=
      x-amzn-RequestId:
      - b8fba74d-7685-45c8-8871-6c19c1589fb3
      x-bt-internal-trace-id:
      - 6a85cd0a00000000549dd5ecd2a13a2c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/project?project_name=python-sdk-generated-projects-vcr&org_name=Braintrust%20SDKs
  response:
    body:
      string: '{"objects":[{"id":"7cb22019-3d25-4b51-98a1-63c46abd8bf3","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-generated-projects-vcr","description":"created
        by the Python SDK VCR test","created":"2026-08-19T15:34:34.696Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"141-gVhNN1zpLB3loJGZSPrywZrJUt0"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CWz5xFVJIAMEMpw=
      x-amzn-RequestId:
      - f24c67bb-00f9-44e8-9dcc-8dfab02846c1
      x-bt-internal-trace-id:
      - 6a85cd0a0000000064f1ba66bdca9f3d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/project/7cb22019-3d25-4b51-98a1-63c46abd8bf3
  response:
    body:
      string: '{"id":"7cb22019-3d25-4b51-98a1-63c46abd8bf3","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-generated-projects-vcr","description":"created
        by the Python SDK VCR test","created":"2026-08-19T15:34:34.696Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"133-AwrbwRApgCQLZaKIW0a3n2CLRn0"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CWz5zHTwoAMEFBQ=
      x-amzn-RequestId:
      - e80ba743-59ed-4f2a-8a28-470d063ab5db
      x-bt-internal-trace-id:
      - 6a85cd0b000000005602f6ad8d3b49cd
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "python-sdk-generated-projects-vcr", "org_name": "Braintrust SDKs"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/project
  response:
    body:
      string: '{"id":"7cb22019-3d25-4b51-98a1-63c46abd8bf3","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-generated-projects-vcr","description":"updated
        by the Python SDK VCR test","created":"2026-08-19T15:34:34.696Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"133-mL500AMuIB9CcF6OX2d2ioXMSWs"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CWz57FowIAMEU_g=
      x-amzn-RequestId:
      - 018e8d15-09e1-445a-a0b2-64275074348f
      x-bt-found-existing:
      - 'true'
      x-bt-internal-trace-id:
      - 6a85cd0b0000000024e103511f31a356
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.braintrust.dev/v1/project/7cb22019-3d25-4b51-98a1-63c46abd8bf3
  response:
    body:
      string: '{"id":"7cb22019-3d25-4b51-98a1-63c46abd8bf3","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-generated-projects-vcr","description":"updated
        by the Python SDK VCR test","created":"2026-08-19T15:34:34.696Z","deleted_at":"2026-08-19T15:34:36.559Z","user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"149-IAr7BkTfeM/AQqK3OB8nCGV1Pto"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CWz6BHm6IAMEJjQ=
      x-amzn-RequestId:
      - e60f0ef4-e6b2-418a-8262-bab26097d4b1
      x-bt-internal-trace-id:
      - 6a85cd0c00000000631ab2c75ed35869
    status:
      code: 200
      message: OK
version: 1
