interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://www.braintrust.dev/api/apikey/login
  response:
    body:
      string: '{"org_info":[{"id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"Braintrust
        SDKs","api_url":"https://api.braintrust.dev","git_metadata":{"collect":"some","fields":["commit","branch","tag","dirty","author_name","author_email","commit_message","commit_time"]},"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13vsc5ye8flag"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/apikey/login
      X-Nonce:
      - ZTMyZGU1OTUtOTBiYi00NTA2LWEyNDEtMDk4ZmQ5MjE4NDVl
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - yul1::iad1::vzb2v-1788452174617-6539d4f5645d
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "python-sdk-generated-prompts-vcr", "org_name": "Braintrust SDKs"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/project
  response:
    body:
      string: '{"id":"278bef0f-7815-4f7f-804e-7ed91f30f9f5","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-generated-prompts-vcr","description":null,"created":"2026-09-03T16:16:15.478Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"112-GJP20bI35jxPWLmr5GO0u0HVWR4"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: '{"project_id": "278bef0f-7815-4f7f-804e-7ed91f30f9f5", "name": "Generated
      prompts API", "slug": "generated-prompts-api", "description": "created by the
      Python SDK VCR test", "prompt_data": {"prompt": {"type": "chat", "messages":
      [{"role": "user", "content": "Hello {{name}}"}]}, "options": {"model": "gpt-5-mini"}},
      "tags": ["python-sdk-vcr"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/prompt
  response:
    body:
      string: '{"log_id":"p","project_id":"278bef0f-7815-4f7f-804e-7ed91f30f9f5","slug":"generated-prompts-api","name":"Generated
        prompts API","description":"created by the Python SDK VCR test","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Hello
        {{name}}"}]},"options":{"model":"gpt-5-mini"}},"tags":["python-sdk-vcr"],"id":"cff6c2ab-4828-47d4-ba6a-5c866d2016dd","created":"2026-09-03T16:16:16.158Z","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","_xact_id":"1000197800254768533"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1f1-iplTYxJifPFUjPGGDQWLAyMGZi0"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/prompt?limit=1&project_id=278bef0f-7815-4f7f-804e-7ed91f30f9f5&slug=generated-prompts-api
  response:
    body:
      string: '{"objects":[{"_xact_id":"1000197800254768533","created":"2026-09-03T16:16:16.158Z","description":"created
        by the Python SDK VCR test","function_type":null,"id":"cff6c2ab-4828-47d4-ba6a-5c866d2016dd","log_id":"p","metadata":null,"name":"Generated
        prompts API","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","project_id":"278bef0f-7815-4f7f-804e-7ed91f30f9f5","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Hello
        {{name}}"}]},"options":{"model":"gpt-5-mini"}},"slug":"generated-prompts-api","tags":["python-sdk-vcr"],"function_data":{"type":"prompt"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"246-YYInyIiiC6KCQJDWifxh02NCe5Q"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/prompt/cff6c2ab-4828-47d4-ba6a-5c866d2016dd?version=1000197800254768533
  response:
    body:
      string: '{"_xact_id":"1000197800254768533","created":"2026-09-03T16:16:16.158Z","description":"created
        by the Python SDK VCR test","function_type":null,"id":"cff6c2ab-4828-47d4-ba6a-5c866d2016dd","log_id":"p","metadata":null,"name":"Generated
        prompts API","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","project_id":"278bef0f-7815-4f7f-804e-7ed91f30f9f5","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Hello
        {{name}}"}]},"options":{"model":"gpt-5-mini"}},"slug":"generated-prompts-api","tags":["python-sdk-vcr"],"function_data":{"type":"prompt"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"238-TTpJaVR8yJjgVfsigMBRd+zGZcM"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "updated by the Python SDK VCR test"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.braintrust.dev/v1/prompt/cff6c2ab-4828-47d4-ba6a-5c866d2016dd
  response:
    body:
      string: '{"name":"Generated prompts API","slug":"generated-prompts-api","tags":["python-sdk-vcr"],"log_id":"p","project_id":"278bef0f-7815-4f7f-804e-7ed91f30f9f5","description":"updated
        by the Python SDK VCR test","prompt_data":{"prompt":{"type":"chat","messages":[{"role":"user","content":"Hello
        {{name}}"}]},"options":{"model":"gpt-5-mini"}},"id":"cff6c2ab-4828-47d4-ba6a-5c866d2016dd","created":"2026-09-03T16:16:16.158Z","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","_xact_id":"1000197800255029966"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1f1-agESJRSEREdJ0yKWri4O3BlqHJE"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.braintrust.dev/v1/prompt/cff6c2ab-4828-47d4-ba6a-5c866d2016dd
  response:
    body:
      string: '{"log_id":"p","project_id":"278bef0f-7815-4f7f-804e-7ed91f30f9f5","slug":"generated-prompts-api","id":"cff6c2ab-4828-47d4-ba6a-5c866d2016dd","created":"2026-09-03T16:16:21.456Z","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","_object_delete":true,"_xact_id":"1000197800255098093"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"119-zIgmftUahzqVSbz5pBENBaC0pjM"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.braintrust.dev/v1/project/278bef0f-7815-4f7f-804e-7ed91f30f9f5
  response:
    body:
      string: '{"id":"278bef0f-7815-4f7f-804e-7ed91f30f9f5","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-generated-prompts-vcr","description":null,"created":"2026-09-03T16:16:15.478Z","deleted_at":"2026-09-03T16:16:22.059Z","user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"128-IPMOAf47NX3opgJHYOPioAnSS6U"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
version: 1
