interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://www.braintrust.dev/api/apikey/login
  response:
    body:
      string: '{"org_info":[{"id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"Braintrust
        SDKs","api_url":"https://api.braintrust.dev","git_metadata":{"collect":"some","fields":["commit","branch","tag","dirty","author_name","author_email","commit_message","commit_time"]},"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13vsc5ye8flag"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/apikey/login
      X-Nonce:
      - OTZlZWNjOTAtOTljYi00MzIyLTgxN2UtYzY4MWI3YTRmY2Nj
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - yul1::iad1::5szxs-1787165142182-6ec1811f667c
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "python-sdk-high-level-experiments-vcr", "org_name": "Braintrust
      SDKs"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/project
  response:
    body:
      string: '{"id":"fd57931d-9a18-4a35-8993-88b6807305ef","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-high-level-experiments-vcr","description":null,"created":"2026-08-19T18:45:42.569Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"117-j2hGhINjhD/L7R5r6ivSLGHRGsA"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CXP5lEBhIAMEhYA=
      x-amzn-RequestId:
      - 03dac2eb-5bb8-4f45-8cb2-1c911c7eb214
      x-bt-internal-trace-id:
      - 6a85f9d6000000000b12b13130de42c0
    status:
      code: 200
      message: OK
- request:
    body: '{"project_id": "fd57931d-9a18-4a35-8993-88b6807305ef", "ensure_new": false,
      "name": "high-level-generated-experiment", "repo_info": {"commit": null, "branch":
      null, "tag": null, "dirty": null, "author_name": null, "author_email": null,
      "commit_message": null, "commit_time": null, "git_diff": null}, "public": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/experiment
  response:
    body:
      string: '{"id":"6a0fc93e-9df4-4125-ad25-b36e6af72613","project_id":"fd57931d-9a18-4a35-8993-88b6807305ef","name":"high-level-generated-experiment","description":null,"created":"2026-08-19T18:45:42.807Z","repo_info":{"commit":null,"branch":null,"tag":null,"dirty":null,"author_name":null,"author_email":null,"commit_message":null,"commit_time":null},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"internal_metadata":null,"parameters_id":null,"parameters_version":null,"public":false,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","metadata":null,"tags":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"254-AAQXNKm4qGmOU1oHEa8J94mD6lA"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CXP5nFnAoAMEWEw=
      x-amzn-RequestId:
      - 945f3e6d-7e93-421a-b69c-f06ecb315c13
      x-bt-internal-trace-id:
      - 6a85f9d6000000002532cbb0e9aedd0e
    status:
      code: 200
      message: OK
- request:
    body: '{"events": [{"id": "high-level-generated-experiment-row", "input": {"question":
      "What is the answer?"}, "output": "42", "scores": {"accuracy": 1}, "span_id":
      "high-level-generated-experiment-row", "root_span_id": "high-level-generated-experiment-row"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/experiment/6a0fc93e-9df4-4125-ad25-b36e6af72613/insert
  response:
    body:
      string: '{"row_ids":["high-level-generated-experiment-row"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"33-GtneeQhoIaKjxjg8lxySWrWPYj8"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CXP5qGzcoAMECqw=
      x-amzn-RequestId:
      - d20fb9f1-b460-4679-9be5-e8a79580e238
      x-bt-internal-trace-id:
      - 6a85f9d60000000053a7b9e37d8f6079
    status:
      code: 200
      message: OK
- request:
    body: '{"limit": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/experiment/6a0fc93e-9df4-4125-ad25-b36e6af72613/fetch
  response:
    body:
      string: '{"events":[{"_pagination_key":"p07675815845862375424","_xact_id":"1000197715907835377","audit_data":[{"_xact_id":"1000197715907835377","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"context":null,"created":"2026-08-19T18:45:42.956Z","error":null,"expected":null,"experiment_id":"6a0fc93e-9df4-4125-ad25-b36e6af72613","facets":null,"id":"high-level-generated-experiment-row","input":{"question":"What
        is the answer?"},"is_root":true,"metadata":null,"metrics":null,"origin":null,"output":"42","project_id":"fd57931d-9a18-4a35-8993-88b6807305ef","root_span_id":"high-level-generated-experiment-row","scores":{"accuracy":1},"span_attributes":{"created_by_api_key_id":"607d8072-e7a7-48d9-a326-de588dc07bf0","created_by_user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b"},"span_id":"high-level-generated-experiment-row","span_parents":null,"tags":null}],"cursor":"aoX51/XxAAA"}'
    headers:
      Content-Type:
      - application/json
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CXP5uGp6oAMEmjg=
      x-amzn-RequestId:
      - c3162ebf-d885-4893-a562-d61a6758f00d
      x-bt-api-duration-ms:
      - '190'
      x-bt-brainstore-duration-ms:
      - '96'
      x-bt-cursor:
      - aoX51/XxAAA
      x-bt-internal-trace-id:
      - 6a85f9d7000000003733ec1420d5a66f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/experiment?experiment_name=high-level-generated-experiment&project_name=python-sdk-high-level-experiments-vcr&org_name=Braintrust%20SDKs
  response:
    body:
      string: '{"objects":[{"id":"6a0fc93e-9df4-4125-ad25-b36e6af72613","project_id":"fd57931d-9a18-4a35-8993-88b6807305ef","name":"high-level-generated-experiment","description":null,"created":"2026-08-19T18:45:42.807Z","repo_info":{"commit":null,"branch":null,"tag":null,"dirty":null,"author_name":null,"author_email":null,"commit_message":null,"commit_time":null},"commit":null,"base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"internal_metadata":null,"parameters_id":null,"parameters_version":null,"public":false,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","metadata":null,"tags":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"262-vbaP0YUuU9htsJtsDymd22q0nY4"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CXP5-GTEoAMEdqQ=
      x-amzn-RequestId:
      - b32fd653-5234-4636-b8e3-139777dc8f29
      x-bt-internal-trace-id:
      - 6a85f9d9000000002f2d9d8b58a18888
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.braintrust.dev/v1/experiment/6a0fc93e-9df4-4125-ad25-b36e6af72613
  response:
    body:
      string: '{"id":"6a0fc93e-9df4-4125-ad25-b36e6af72613","project_id":"fd57931d-9a18-4a35-8993-88b6807305ef","name":"high-level-generated-experiment","description":null,"created":"2026-08-19T18:45:42.807Z","repo_info":{"commit":null,"branch":null,"tag":null,"dirty":null,"author_name":null,"author_email":null,"commit_message":null,"commit_time":null},"commit":null,"base_exp_id":null,"deleted_at":"2026-08-19T18:45:46.080Z","dataset_id":null,"dataset_version":null,"internal_metadata":null,"parameters_id":null,"parameters_version":null,"public":false,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","metadata":null,"tags":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"26a-0vb7Xy6RBPstb/884ushiNAP/VU"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CXP6GGC0IAMEjJQ=
      x-amzn-RequestId:
      - 265a9acb-6d0c-4986-8d67-99cb72f5944e
      x-bt-internal-trace-id:
      - 6a85f9d9000000005dc1b9b0cd395826
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.braintrust.dev/v1/project/fd57931d-9a18-4a35-8993-88b6807305ef
  response:
    body:
      string: '{"id":"fd57931d-9a18-4a35-8993-88b6807305ef","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-high-level-experiments-vcr","description":null,"created":"2026-08-19T18:45:42.569Z","deleted_at":"2026-08-19T18:45:46.390Z","user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"12d-mD1EtLciyfA4uUazUKsJC+TB138"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CXP6LFWaoAMEC6Q=
      x-amzn-RequestId:
      - 3a599cd6-e156-4f90-9522-076568f0df42
      x-bt-internal-trace-id:
      - 6a85f9da000000003afb162acb519061
    status:
      code: 200
      message: OK
version: 1
