interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://www.braintrust.dev/api/apikey/login
  response:
    body:
      string: '{"org_info":[{"id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"Braintrust
        SDKs","api_url":"https://api.braintrust.dev","git_metadata":{"collect":"some","fields":["commit","branch","tag","dirty","author_name","author_email","commit_message","commit_time"]},"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13vsc5ye8flag"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/apikey/login
      X-Nonce:
      - MzEzZmE3Y2ItOWJiYS00OWU1LWI4OTMtOGQ4NjA2Y2Y1YjUz
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - yul1::iad1::ffbhm-1786737740734-013b054d8dac
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "python-sdk-generated-projects-vcr", "description": "created by
      the Python SDK VCR test", "org_name": "Braintrust SDKs"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/project
  response:
    body:
      string: '{"id":"613b27b8-da58-4796-8993-d79cff1afad3","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-generated-projects-vcr","description":"created
        by the Python SDK VCR test","created":"2026-08-14T20:02:21.300Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"133-J+BLvuGtfyn2Lj4IWFVWVsqLqNc"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CG8cIH6YIAMEu8g=
      x-amzn-RequestId:
      - 654f58b9-9d16-4c57-8616-1ee0dd15ab61
      x-bt-internal-trace-id:
      - 6a7f744d0000000049c801445f2ae4ab
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/project?project_name=python-sdk-generated-projects-vcr&org_name=Braintrust%20SDKs
  response:
    body:
      string: '{"objects":[{"id":"613b27b8-da58-4796-8993-d79cff1afad3","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-generated-projects-vcr","description":"created
        by the Python SDK VCR test","created":"2026-08-14T20:02:21.300Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"141-Q/vI9D3l1GEcxigmhdgU4QDoPr4"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CG8cMH0EIAMEE6Q=
      x-amzn-RequestId:
      - 15063a57-e16a-432c-92ae-7a4115044629
      x-bt-internal-trace-id:
      - 6a7f744d0000000006fc9365f6b00acb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/project/613b27b8-da58-4796-8993-d79cff1afad3
  response:
    body:
      string: '{"id":"613b27b8-da58-4796-8993-d79cff1afad3","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-generated-projects-vcr","description":"created
        by the Python SDK VCR test","created":"2026-08-14T20:02:21.300Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"133-J+BLvuGtfyn2Lj4IWFVWVsqLqNc"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CG8cPEbBIAMEv3Q=
      x-amzn-RequestId:
      - e77b6c34-4374-4175-9b33-210fe5c99104
      x-bt-internal-trace-id:
      - 6a7f744d000000007bd2cb96555aa91a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.braintrust.dev/v1/project/613b27b8-da58-4796-8993-d79cff1afad3
  response:
    body:
      string: '{"id":"613b27b8-da58-4796-8993-d79cff1afad3","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-generated-projects-vcr","description":"updated
        by the Python SDK VCR test","created":"2026-08-14T20:02:21.300Z","deleted_at":"2026-08-14T20:02:22.434Z","user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"149-ZEM0N6DPDhpdgarT6R15u2oVDag"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CG8cUGQboAMEv7Q=
      x-amzn-RequestId:
      - ff2c1211-e5b7-40ac-ab3f-3aa36933ef0b
      x-bt-internal-trace-id:
      - 6a7f744e0000000015b1866d584ef16c
    status:
      code: 200
      message: OK
version: 1
