interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://www.braintrust.dev/api/apikey/login
  response:
    body:
      string: '{"org_info":[{"id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"Braintrust
        SDKs","api_url":"https://api.braintrust.dev","git_metadata":{"collect":"some","fields":["commit","branch","tag","dirty","author_name","author_email","commit_message","commit_time"]},"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13vsc5ye8flag"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/apikey/login
      X-Nonce:
      - ZTAyYmVhODEtNDU1Mi00ZTAzLWIxMTYtMDIyNmY3MTU1ZDY0
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - yul1::iad1::vrzs6-1786547858136-19160ee5c180
    status:
      code: 200
      message: OK
- request:
    body: '{"project_name": "python-sdk-api-experiment-service-fresh-vcr", "project_id":
      null, "org_id": "5abfae3a-7aa7-4653-a9c8-b3efcb18f584", "update": true, "experiment_name":
      "fresh-experiment-without-base", "repo_info": {"commit": null, "branch": null,
      "tag": null, "dirty": null, "author_name": null, "author_email": null, "commit_message":
      null, "commit_time": null, "git_diff": null}, "public": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.braintrust.dev/api/experiment/register
  response:
    body:
      string: '{"project":{"id":"eb1d7d8e-9088-4937-9543-58f894306ac7","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-api-experiment-service-fresh-vcr","description":null,"created":"2026-08-12T15:14:54.955Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null},"experiment":{"id":"cbe48deb-473d-498f-af94-facb1c90ac68","project_id":"eb1d7d8e-9088-4937-9543-58f894306ac7","name":"fresh-experiment-without-base","description":null,"created":"2026-08-12T15:14:54.955Z","repo_info":{},"commit":"abc202c350c7f6f4d6b85e128c9bb3a1013517a8","base_exp_id":null,"deleted_at":null,"dataset_id":null,"dataset_version":null,"internal_metadata":null,"parameters_id":null,"parameters_version":null,"public":false,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","metadata":null,"tags":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12h4qcgnnqaz7"
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/experiment/register
      X-Nonce:
      - OTA2ZDgxMjMtZTVhNC00NmMzLWFlYTAtYzkyYmMyYWVkYWI1
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - yul1::iad1::v8n4z-1786547858299-2a4f4df48f96
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "cbe48deb-473d-498f-af94-facb1c90ac68"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.braintrust.dev/api/base_experiment/get_id
  response:
    body:
      string: Missing read access to experiment id cbe48deb-473d-498f-af94-facb1c90ac68,
        or the experiment does not exist [user_email=redacted] [user_org=Braintrust
        SDKs] [timestamp=1786547858.705] [request_id=yul1::xm6c7-1786547858606-847e928224d9]
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"slqvuufn5l72"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/base_experiment/get_id
      X-Nonce:
      - NDJiYjMwOTItYmI0Zi00NTBjLWI3MGItMjg5YTM4ZWVlY2Fm
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - yul1::iad1::xm6c7-1786547858606-847e928224d9
    status:
      code: 400
      message: Bad Request
version: 1
