interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://www.braintrust.dev/api/apikey/login
  response:
    body:
      string: '{"org_info":[{"id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"Braintrust
        SDKs","api_url":"https://api.braintrust.dev","git_metadata":{"collect":"some","fields":["commit","branch","tag","dirty","author_name","author_email","commit_message","commit_time"]},"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13vsc5ye8flag"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/apikey/login
      X-Nonce:
      - MmNmY2FkNWItYzg0MS00MDNkLWJmODMtOWY5N2JiZTljNDE3
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - yul1::iad1::lg4pc-1789049002106-43493da0fdf8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "python-sdk-high-level-parameters-vcr", "org_name": "Braintrust
      SDKs"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/project
  response:
    body:
      string: '{"id":"220a46a8-95a5-4cd1-972d-b1f654a0ac52","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-high-level-parameters-vcr","description":null,"created":"2026-09-10T14:03:22.397Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"116-SLBYTvsMo521T13vSdIdpvJUj18"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: '{"project_id": "220a46a8-95a5-4cd1-972d-b1f654a0ac52", "name": "Generated
      parameters API", "slug": "generated-parameters-api", "function_type": "parameters",
      "function_data": {"type": "parameters", "data": {"prefix": "loaded"}, "__schema":
      {"type": "object", "properties": {"prefix": {"type": "string"}}}}, "tags": ["python-sdk-vcr"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/function
  response:
    body:
      string: '{"log_id":"p","project_id":"220a46a8-95a5-4cd1-972d-b1f654a0ac52","slug":"generated-parameters-api","name":"Generated
        parameters API","function_type":"parameters","function_data":{"type":"parameters","data":{"prefix":"loaded"},"__schema":{"type":"object","properties":{"prefix":{"type":"string"}}}},"tags":["python-sdk-vcr"],"id":"c860ec58-3532-489e-a57c-0895599cb0c0","created":"2026-09-10T14:03:22.680Z","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","_xact_id":"1000197839368361576"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1e7-s3zmIkjd+I+ADesqUAS0CEpeNvY"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/function?project_id=220a46a8-95a5-4cd1-972d-b1f654a0ac52&slug=generated-parameters-api&version=1000197839368361576
  response:
    body:
      string: '{"objects":[{"_xact_id":"1000197839368361576","created":"2026-09-10T14:03:22.680Z","description":null,"function_data":{"data":{"prefix":"loaded"},"type":"parameters","__schema":{"type":"object","properties":{"prefix":{"type":"string"}}}},"function_schema":null,"function_type":"parameters","id":"c860ec58-3532-489e-a57c-0895599cb0c0","log_id":"p","metadata":null,"name":"Generated
        parameters API","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","origin":null,"project_id":"220a46a8-95a5-4cd1-972d-b1f654a0ac52","prompt_data":null,"slug":"generated-parameters-api","tags":["python-sdk-vcr"]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"250-5Ap7sLQ/Cj+82XqhxHesx2nv7bw"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/function/c860ec58-3532-489e-a57c-0895599cb0c0
  response:
    body:
      string: '{"_xact_id":"1000197839368361576","created":"2026-09-10T14:03:22.680Z","description":null,"function_data":{"data":{"prefix":"loaded"},"type":"parameters","__schema":{"type":"object","properties":{"prefix":{"type":"string"}}}},"function_schema":null,"function_type":"parameters","id":"c860ec58-3532-489e-a57c-0895599cb0c0","log_id":"p","metadata":null,"name":"Generated
        parameters API","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","origin":null,"project_id":"220a46a8-95a5-4cd1-972d-b1f654a0ac52","prompt_data":null,"slug":"generated-parameters-api","tags":["python-sdk-vcr"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"242-9w/rUjU/oOGWhUWcByY/bjBVpuw"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.braintrust.dev/v1/function/c860ec58-3532-489e-a57c-0895599cb0c0
  response:
    body:
      string: '{"log_id":"p","project_id":"220a46a8-95a5-4cd1-972d-b1f654a0ac52","slug":"generated-parameters-api","id":"c860ec58-3532-489e-a57c-0895599cb0c0","created":"2026-09-10T14:03:25.311Z","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","_object_delete":true,"_xact_id":"1000197839368554840"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"11c-5lFiX8bRE1G3RLnRgtoX9l6jQjI"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.braintrust.dev/v1/project/220a46a8-95a5-4cd1-972d-b1f654a0ac52
  response:
    body:
      string: '{"id":"220a46a8-95a5-4cd1-972d-b1f654a0ac52","org_id":"5abfae3a-7aa7-4653-a9c8-b3efcb18f584","name":"python-sdk-high-level-parameters-vcr","description":null,"created":"2026-09-10T14:03:22.397Z","deleted_at":"2026-09-10T14:03:25.525Z","user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"12c-rsmGPAJrGkwumgrSkASM1dzJBKI"
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
version: 1
