interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://www.braintrust.dev/api/apikey/login
  response:
    body:
      string: '{"org_info":[{"id":"f5883013-b5c1-438d-9044-5182b4682337","name":"abhi-test-org","api_url":"https://api.braintrust.dev","git_metadata":{"collect":"some","fields":["commit","branch","tag","dirty","author_name","author_email","commit_message","commit_time"]},"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13kwty4qcjgae"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/apikey/login
      X-Nonce:
      - NjIzMjM5YWItMGZmOS00ZWY1LWE4NDUtOTM5YzgzYWNjYjZj
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - yul1::iad1::kvjw6-1787075029412-0b59d51b3653
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "python-sdk-high-level-datasets-vcr", "org_name": "abhi-test-org"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/project
  response:
    body:
      string: '{"id":"8bc899ea-301c-43a4-afce-6b7e381f72df","org_id":"f5883013-b5c1-438d-9044-5182b4682337","name":"python-sdk-high-level-datasets-vcr","description":null,"created":"2026-08-18T17:43:49.805Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"114-KUQ+D50relGBKxWrJbiPQ1lUa7c"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CTz5dE1VoAMEl0g=
      x-amzn-RequestId:
      - b6d3b069-d09c-44dd-b391-743d629f1a3c
      x-bt-internal-trace-id:
      - 6a8499d500000000745a36dec81ff912
    status:
      code: 200
      message: OK
- request:
    body: '{"project_id": "8bc899ea-301c-43a4-afce-6b7e381f72df", "name": "logs",
      "description": "created through braintrust.init_dataset"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/dataset
  response:
    body:
      string: '{"id":"e0753a78-8202-4f97-9b70-8555cca01f24","project_id":"8bc899ea-301c-43a4-afce-6b7e381f72df","name":"logs","description":"created
        through braintrust.init_dataset","created":"2026-08-18T17:43:50.112Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","tags":null,"metadata":null,"url_slug":"logs"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"13d-bhQPuhN/bOu6S5+5+uANd0j5CnM"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CTz5gGedIAMEohw=
      x-amzn-RequestId:
      - 5bb15c30-a620-4a52-abb1-cd06abaaf1cd
      x-bt-internal-trace-id:
      - 6a8499d50000000019e6272960be9737
    status:
      code: 200
      message: OK
- request:
    body: '{"events": [{"id": "high-level-generated-row", "input": {"question": "What
      is the answer?"}, "expected": "42"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/dataset/e0753a78-8202-4f97-9b70-8555cca01f24/insert
  response:
    body:
      string: '{"row_ids":["high-level-generated-row"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"28-/WJmCRpRI2OkOxN+4DhKff4swbE"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CTz5kGw1IAMEWTA=
      x-amzn-RequestId:
      - 64738b4b-1f41-4561-859e-da4161e0a293
      x-bt-internal-trace-id:
      - 6a8499d600000000029cae16c59cb207
    status:
      code: 200
      message: OK
- request:
    body: '{"limit": 10}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/dataset/e0753a78-8202-4f97-9b70-8555cca01f24/fetch
  response:
    body:
      string: '{"events":[{"_pagination_key":"p07675428811820564480","_xact_id":"1000197710002164573","audit_data":[{"_xact_id":"1000197710002164573","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"created":"2026-08-18T17:43:50.515Z","dataset_id":"e0753a78-8202-4f97-9b70-8555cca01f24","expected":"42","facets":null,"id":"high-level-generated-row","input":{"question":"What
        is the answer?"},"is_root":true,"metadata":null,"origin":null,"project_id":"8bc899ea-301c-43a4-afce-6b7e381f72df","root_span_id":"876464a7-1f60-4802-9935-17437b873c37","span_id":"876464a7-1f60-4802-9935-17437b873c37","tags":null}],"cursor":"aoSZ1pNdAAA"}'
    headers:
      Content-Type:
      - application/json
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CTz5qFHgoAMEGfA=
      x-amzn-RequestId:
      - 3f2337b5-cbd1-4243-baae-7914d067e781
      x-bt-api-duration-ms:
      - '136'
      x-bt-brainstore-duration-ms:
      - '78'
      x-bt-cursor:
      - aoSZ1pNdAAA
      x-bt-internal-trace-id:
      - 6a8499d6000000006adb50d7a8599b2e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/v1/dataset/e0753a78-8202-4f97-9b70-8555cca01f24/summarize?summarize_data=true
  response:
    body:
      string: '{"project_name":"python-sdk-high-level-datasets-vcr","project_url":"https://www.braintrust.dev/app/abhi-test-org/p/python-sdk-high-level-datasets-vcr","dataset_name":"logs","dataset_url":"https://www.braintrust.dev/app/abhi-test-org/p/python-sdk-high-level-datasets-vcr/datasets/logs","data_summary":{"total_records":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"140-ZIATApjTynNDI+KDjd4FQxLCvzE"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CTz5wGbDoAMEHoQ=
      x-amzn-RequestId:
      - 9e349ac2-fa36-4b12-81dd-8da468ce7817
      x-bt-internal-trace-id:
      - 6a8499d70000000022021e5ffb86ef95
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.braintrust.dev/v1/dataset/e0753a78-8202-4f97-9b70-8555cca01f24
  response:
    body:
      string: '{"id":"e0753a78-8202-4f97-9b70-8555cca01f24","project_id":"8bc899ea-301c-43a4-afce-6b7e381f72df","name":"logs","description":"created
        through braintrust.init_dataset","created":"2026-08-18T17:43:50.112Z","deleted_at":"2026-08-18T17:43:51.863Z","user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","tags":null,"metadata":null,"url_slug":"logs"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"153-UO4DgSQH0U8+UDcUWyIinD0oz3Q"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CTz5yGn7oAMEvYg=
      x-amzn-RequestId:
      - 81b4aacf-3b14-4f7f-9fd5-14bc3df71448
      x-bt-internal-trace-id:
      - 6a8499d700000000701a78a693635ec0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.braintrust.dev/v1/project/8bc899ea-301c-43a4-afce-6b7e381f72df
  response:
    body:
      string: '{"id":"8bc899ea-301c-43a4-afce-6b7e381f72df","org_id":"f5883013-b5c1-438d-9044-5182b4682337","name":"python-sdk-high-level-datasets-vcr","description":null,"created":"2026-08-18T17:43:49.805Z","deleted_at":"2026-08-18T17:43:52.132Z","user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"12a-tOzoIlwgSySoy4LcJgaHwSCW/OE"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CTz51HFRoAMEmdg=
      x-amzn-RequestId:
      - c1f642da-a5b3-46b8-8758-bf3db4876f90
      x-bt-internal-trace-id:
      - 6a8499d80000000050d08549862804c8
    status:
      code: 200
      message: OK
version: 1
