interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://www.braintrust.dev/api/apikey/login
  response:
    body:
      string: '{"org_info":[{"id":"f5883013-b5c1-438d-9044-5182b4682337","name":"abhi-test-org","api_url":"https://api.braintrust.dev","git_metadata":{"collect":"some","fields":["commit","branch","tag","dirty","author_name","author_email","commit_message","commit_time"]},"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13kwty4qcjgae"'
      X-Bt-Was-Udf-Cached:
      - 'true'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/apikey/login
      X-Nonce:
      - YmE2NDk4N2ItOGFiMi00ZTk2LWI3M2EtZTZlOGE1Y2Q0NDI5
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - yul1::iad1::m5dkt-1787074375027-e16770f80a4d
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "python-sdk-vcr-tests", "org_name": "abhi-test-org"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/project
  response:
    body:
      string: '{"id":"5740905a-baf8-4edf-b634-8aa62ea149d3","org_id":"f5883013-b5c1-438d-9044-5182b4682337","name":"python-sdk-vcr-tests","description":null,"created":"2026-08-05T14:55:31.022Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"106-sw4f3jJYmmtrfBUZ4IeAvOYj8tQ"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CTyTOECToAMETzg=
      x-amzn-RequestId:
      - 5050b7c6-49f8-4c94-8cf0-a1846204b31d
      x-bt-found-existing:
      - 'true'
      x-bt-internal-trace-id:
      - 6a849747000000001547ff41cb55072d
    status:
      code: 200
      message: OK
- request:
    body: '{"project_id": "5740905a-baf8-4edf-b634-8aa62ea149d3", "name": "test-dataset-internal-btql-total-limit"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/v1/dataset
  response:
    body:
      string: '{"id":"93e21c91-a4a1-441f-9ba5-91331b414da4","project_id":"5740905a-baf8-4edf-b634-8aa62ea149d3","name":"test-dataset-internal-btql-total-limit","description":null,"created":"2026-08-05T14:55:31.022Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","tags":null,"metadata":null,"url_slug":"test-dataset-internal-btql-total-limit"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"15c-TfW7o/HENJkX+ZuBPa/y33dkY8k"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CTyTQEZToAMEZKQ=
      x-amzn-RequestId:
      - b2388e01-779b-4d01-afc3-b3a90038d3cc
      x-bt-found-existing:
      - 'true'
      x-bt-internal-trace-id:
      - 6a849747000000002061da26ff721be7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/version
  response:
    body:
      string: '{"version":"2.11.0","date_version":"20260817","ff_version":46,"commit":"bb8ea042b06e943817298c9fc56a802148e024a4","deployment_mode":"lambda","deployment_type":"custom","loop_runtime_enabled":true,"brainstore_default":"force","brainstore_can_contain_row_refs":true,"skip_pg_config":"all","has_realtime_wal_bucket":true,"brainstore_wal_footer_version":"v3","brainstore_wal_use_efficient_format":true,"has_logs2":true,"brainstore_export_enabled":true,"js":true,"universal":true,"code_execution":true,"logs3_payload_max_bytes":5242880,"control_plane_telemetry":["status","memprof","usage"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"24a-yjnAH/Jq2lSD3sfOGxkgOHgzOK0"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CTyTSHuRoAMEDdA=
      x-amzn-Remapped-content-length:
      - '586'
      x-amzn-RequestId:
      - 34224fc0-7829-47f2-9d84-b394abc21088
      x-bt-internal-trace-id:
      - 6a84974700000000048c3830b68fe4c5
    status:
      code: 200
      message: OK
- request:
    body: '{"rows": [{"created": "2026-08-18T17:32:54.876745+00:00", "dataset_id":
      "93e21c91-a4a1-441f-9ba5-91331b414da4", "expected": "first", "id": "internal-btql-limit-record-1",
      "input": "first", "tags": null},{"created": "2026-08-18T17:32:54.877013+00:00",
      "dataset_id": "93e21c91-a4a1-441f-9ba5-91331b414da4", "expected": "second",
      "id": "internal-btql-limit-record-2", "input": "second", "tags": null}], "api_version":
      2}'
    headers:
    method: POST
    uri: https://api.braintrust.dev/logs3
  response:
    body:
      string: '{"ids":["internal-btql-limit-record-1","internal-btql-limit-record-2"],"xact_id":"1000197709959278726"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"67-JJYZnmsGxepipGA+8Rqd9t2xGM8"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - CTyTUFxaIAMEVtQ=
      x-amzn-RequestId:
      - 00860d45-27c2-4ec9-9570-cb031c745732
      x-bt-internal-trace-id:
      - 6a849747000000006836f82150a2548a
    status:
      code: 200
      message: OK
- request:
    body: '{"query": {"select": [{"op": "star"}], "from": {"op": "function", "name":
      {"op": "ident", "name": ["dataset"]}, "args": [{"op": "literal", "value": "93e21c91-a4a1-441f-9ba5-91331b414da4"}]},
      "cursor": null, "limit": 1}, "use_columnstore": false, "brainstore_realtime":
      true, "query_source": "py_sdk_object_fetcher_dataset"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/btql
  response:
    body:
      string: '{"data":[{"_pagination_key":"p07675426001253695489","_xact_id":"1000197709959278726","audit_data":[{"_xact_id":"1000197709959278726","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"created":"2026-08-18T17:32:54.877Z","dataset_id":"93e21c91-a4a1-441f-9ba5-91331b414da4","expected":"second","facets":null,"id":"internal-btql-limit-record-2","input":"second","is_root":true,"metadata":null,"origin":null,"project_id":"5740905a-baf8-4edf-b634-8aa62ea149d3","root_span_id":"25a9a8fc-0229-42d2-a5cb-704369e76b9f","span_id":"25a9a8fc-0229-42d2-a5cb-704369e76b9f","tags":null}],"schema":{"type":"array","items":{"type":"object","properties":{"_pagination_key":{"description":"A
        stable, time-ordered key that can be used to paginate over dataset events.
        This field is auto-generated by Braintrust and only exists in Brainstore.","type":["string","null"]},"_xact_id":{"description":"The
        transaction id of an event is unique to the network operation that processed
        the event insertion. Transaction ids are monotonically increasing over time
        and can be used to retrieve a versioned snapshot of the dataset (see the `version`
        parameter)","type":"string"},"audit_data":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}]},"classifications":{"anyOf":[{"additionalProperties":{"items":{"additionalProperties":false,"properties":{"confidence":{"description":"Optional
        confidence score for the classification","type":["number","null"]},"id":{"description":"Stable
        classification identifier","type":"string"},"label":{"description":"Original
        label of the classification item, which is useful for search and indexing
        purposes","type":"string"},"metadata":{"anyOf":[{"additionalProperties":{},"type":"object"},{"type":"null"}],"description":"Optional
        metadata associated with the classification"},"source":{"anyOf":[{"anyOf":[{"additionalProperties":false,"properties":{"id":{"type":"string"},"type":{"const":"function","type":"string"},"version":{"description":"The
        version of the function","type":"string"}},"required":["type","id"],"type":"object"},{"additionalProperties":false,"properties":{"function_type":{"default":"scorer","description":"The
        type of global function. Defaults to ''scorer''.","enum":["llm","scorer","task","tool","custom_view","preprocessor","facet","classifier","tag","parameters","sandbox"],"type":"string"},"name":{"type":"string"},"type":{"const":"global","type":"string"}},"required":["type","name"],"type":"object"}]},{"type":"null"}],"description":"Optional
        function identifier that produced the classification"}},"required":["id"],"type":"object"},"type":"array"},"properties":{},"type":"object"},{"type":"null"}]},"comments":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}]},"created":{"description":"The
        timestamp the dataset event was created","format":"date-time","type":"string"},"dataset_id":{"description":"Unique
        identifier for the dataset","format":"uuid","type":"string"},"expected":{"description":"The
        output of your application, including post-processing (an arbitrary, JSON
        serializable object)"},"facets":{"anyOf":[{"additionalProperties":{"type":["string","null"]},"properties":{},"type":"object"},{"type":"null"}]},"id":{"description":"A
        unique identifier for the dataset event. If you don''t provide one, Braintrust
        will generate one for you","type":"string"},"input":{"description":"The argument
        that uniquely define an input case (an arbitrary, JSON serializable object)"},"is_root":{"description":"Whether
        this span is a root span","type":["boolean","null"]},"metadata":{"anyOf":[{"additionalProperties":{},"properties":{"model":{"description":"The
        model used for this example","type":["string","null"]}},"type":"object"},{"type":"null"}]},"origin":{"anyOf":[{"description":"Reference
        to the original object and event this was copied from.","properties":{"_xact_id":{"description":"Transaction
        ID of the original event.","type":["string","null"]},"created":{"description":"Created
        timestamp of the original event. Used to help sort in the UI","type":["string","null"]},"id":{"description":"ID
        of the original event.","type":"string"},"object_id":{"description":"ID of
        the object the event is originating from.","format":"uuid","type":"string"},"object_type":{"description":"Type
        of the object the event is originating from.","enum":["project_logs","experiment","dataset","prompt","function","prompt_session"],"type":"string"}},"required":["object_type","object_id","id"],"type":"object"},{"type":"null"}]},"project_id":{"description":"Unique
        identifier for the project that the dataset belongs under","format":"uuid","type":"string"},"root_span_id":{"description":"A
        unique identifier for the trace this dataset event belongs to","type":"string"},"span_id":{"description":"A
        unique identifier used to link different dataset events together as part of
        a full trace. See the [tracing guide](https://www.braintrust.dev/docs/instrument)
        for full details on tracing","type":"string"},"tags":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}]}}}},"cursor":"aoSXSDCGAAE","realtime_state":{"type":"on","minimum_xact_id":"1000197709952402389","read_bytes":1356,"actual_xact_id":"1000197709959278726"},"freshness_state":{"last_processed_xact_id":"1000197709952402389","last_considered_xact_id":"1000197709959278726"},"warnings":[]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - CTyTaH3SIAMEVoA=
      x-amzn-RequestId:
      - fd16dc66-5727-46d2-b4f0-c1938998ff91
      x-bt-api-duration-ms:
      - '159'
      x-bt-brainstore-duration-ms:
      - '99'
      x-bt-cursor:
      - aoSXSDCGAAE
      x-bt-internal-trace-id:
      - 6a84974800000000144ad6faf33a0765
    status:
      code: 200
      message: OK
version: 1
