interactions:
- request:
    body: '{"id": "test-classifier-span"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.braintrust.dev/api/base_experiment/get_id
  response:
    body:
      string: "[\n  {\n    \"validation\": \"uuid\",\n    \"code\": \"invalid_string\",\n
        \   \"message\": \"Invalid uuid\",\n    \"path\": [\n      \"id\"\n    ]\n
        \ }\n] [user_email=___braintrust_anon_user___@braintrustdata.com] [timestamp=1776185951.284]
        [request_id=yul1::rlkb8-1776185950926-a394af342bfa]"
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"ox95rpt6sr7f"'
      X-Clerk-Auth-Reason:
      - session-token-and-uat-missing
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/base_experiment/get_id
      X-Nonce:
      - NGNlMGVjNTUtNmE2MC00ZDA3LWE3OGMtMDQ3NWExNWVkZGUz
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - yul1::iad1::rlkb8-1776185950926-a394af342bfa
    status:
      code: 400
      message: Bad Request
version: 1
