interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://www.braintrust.dev/api/apikey/login
  response:
    body:
      string: '{"org_info":[{"id":"f5883013-b5c1-438d-9044-5182b4682337","name":"abhi-test-org","api_url":"https://api.braintrust.dev","git_metadata":{"collect":"some","fields":["commit","branch","tag","dirty","author_name","author_email","commit_message","commit_time"]},"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13kwty4qcjgae"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/apikey/login
      X-Nonce:
      - YmMyZTM0NWYtYzJmZS00MzQyLThlOTItOTViMTgwMmUyNzg5
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - yul1::iad1::p2wth-1785941730640-7c7991ba6747
    status:
      code: 200
      message: OK
- request:
    body: '{"project_name": "python-sdk-vcr-tests", "project_id": null, "org_id":
      "f5883013-b5c1-438d-9044-5182b4682337", "dataset_name": "test-dataset-internal-btql-total-limit"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.braintrust.dev/api/dataset/register
  response:
    body:
      string: '{"project":{"id":"5740905a-baf8-4edf-b634-8aa62ea149d3","org_id":"f5883013-b5c1-438d-9044-5182b4682337","name":"python-sdk-vcr-tests","description":null,"created":"2026-08-05T14:55:31.022Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","settings":null},"dataset":{"id":"93e21c91-a4a1-441f-9ba5-91331b414da4","project_id":"5740905a-baf8-4edf-b634-8aa62ea149d3","name":"test-dataset-internal-btql-total-limit","description":null,"created":"2026-08-05T14:55:31.022Z","deleted_at":null,"user_id":"c1f71e19-b3ce-4f59-89a9-055901f7755b","tags":null,"metadata":null,"url_slug":"test-dataset-internal-btql-total-limit"},"found_existing":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12sv3og5gzpi8"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/dataset/register
      X-Nonce:
      - ZTZjODczYWQtN2Y3OS00OWQ2LThiNzItMmM3M2E0MmEwMGNk
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - yul1::iad1::xn7p5-1785941730906-ade6974e689c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.braintrust.dev/version
  response:
    body:
      string: '{"version":"2.9.0","date_version":"20260730","ff_version":42,"commit":"752127a4257d43c647e4f26fca64445645b9a982","deployment_mode":"lambda","deployment_type":"custom","brainstore_default":"force","brainstore_can_contain_row_refs":true,"skip_pg_config":"all","has_realtime_wal_bucket":true,"brainstore_wal_footer_version":"v3","brainstore_wal_use_efficient_format":true,"has_logs2":true,"brainstore_export_enabled":true,"js":true,"universal":true,"code_execution":true,"logs3_payload_max_bytes":5242880,"control_plane_telemetry":["status","memprof","usage"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"22d-ctakgszqYQZk3xpUQtT3XtS3QV4"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - BolDlH1JoAMEJbg=
      x-amzn-Remapped-content-length:
      - '557'
      x-amzn-RequestId:
      - d1977231-4402-423f-aaa3-26879c5f8257
      x-bt-internal-trace-id:
      - 6a734ee3000000003adf69420fe9bf21
    status:
      code: 200
      message: OK
- request:
    body: '{"rows": [{"created": "2026-08-05T14:55:30.472778+00:00", "dataset_id":
      "93e21c91-a4a1-441f-9ba5-91331b414da4", "expected": "first", "id": "internal-btql-limit-record-1",
      "input": "first", "tags": null},{"created": "2026-08-05T14:55:30.473043+00:00",
      "dataset_id": "93e21c91-a4a1-441f-9ba5-91331b414da4", "expected": "second",
      "id": "internal-btql-limit-record-2", "input": "second", "tags": null}], "api_version":
      2}'
    headers:
    method: POST
    uri: https://api.braintrust.dev/logs3
  response:
    body:
      string: '{"ids":["internal-btql-limit-record-1","internal-btql-limit-record-2"],"xact_id":"1000197635730255173"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"67-slrO8h6R7bzoArJaQMDL+SPIzYk"
      surrogate-control:
      - no-store
      x-amz-apigw-id:
      - BolDnHiqIAMEDlg=
      x-amzn-RequestId:
      - bb6ca664-bf55-422e-9f3b-d776b45d5a7d
      x-bt-internal-trace-id:
      - 6a734ee3000000001f5cc1b071725c11
    status:
      code: 200
      message: OK
- request:
    body: '{"query": {"select": [{"op": "star"}], "from": {"op": "function", "name":
      {"op": "ident", "name": ["dataset"]}, "args": [{"op": "literal", "value": "93e21c91-a4a1-441f-9ba5-91331b414da4"}]},
      "cursor": null, "limit": 1}, "use_columnstore": false, "brainstore_realtime":
      true, "query_source": "py_sdk_object_fetcher_dataset"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.braintrust.dev/btql
  response:
    body:
      string: '{"data":[{"_pagination_key":"p07670561327966126081","_xact_id":"1000197635730255173","audit_data":[{"_xact_id":"1000197635730255173","audit_data":{"action":"upsert"},"metadata":{},"source":"api"}],"classifications":null,"comments":null,"created":"2026-08-05T14:55:30.473Z","dataset_id":"93e21c91-a4a1-441f-9ba5-91331b414da4","expected":"second","facets":null,"id":"internal-btql-limit-record-2","input":"second","is_root":true,"metadata":null,"origin":null,"project_id":"5740905a-baf8-4edf-b634-8aa62ea149d3","root_span_id":"6a9a2a70-7597-48c7-affc-375126066bc2","span_id":"6a9a2a70-7597-48c7-affc-375126066bc2","tags":null}],"schema":{"type":"array","items":{"type":"object","properties":{"_pagination_key":{"description":"A
        stable, time-ordered key that can be used to paginate over dataset events.
        This field is auto-generated by Braintrust and only exists in Brainstore.","type":["string","null"]},"_xact_id":{"description":"The
        transaction id of an event is unique to the network operation that processed
        the event insertion. Transaction ids are monotonically increasing over time
        and can be used to retrieve a versioned snapshot of the dataset (see the `version`
        parameter)","type":"string"},"audit_data":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}]},"classifications":{"anyOf":[{"additionalProperties":{"items":{"additionalProperties":false,"properties":{"confidence":{"description":"Optional
        confidence score for the classification","type":["number","null"]},"id":{"description":"Stable
        classification identifier","type":"string"},"label":{"description":"Original
        label of the classification item, which is useful for search and indexing
        purposes","type":"string"},"metadata":{"anyOf":[{"additionalProperties":{},"type":"object"},{"type":"null"}],"description":"Optional
        metadata associated with the classification"},"source":{"anyOf":[{"anyOf":[{"additionalProperties":false,"properties":{"id":{"type":"string"},"type":{"const":"function","type":"string"},"version":{"description":"The
        version of the function","type":"string"}},"required":["type","id"],"type":"object"},{"additionalProperties":false,"properties":{"function_type":{"default":"scorer","description":"The
        type of global function. Defaults to ''scorer''.","enum":["llm","scorer","task","tool","custom_view","preprocessor","facet","classifier","tag","parameters","sandbox"],"type":"string"},"name":{"type":"string"},"type":{"const":"global","type":"string"}},"required":["type","name"],"type":"object"}]},{"type":"null"}],"description":"Optional
        function identifier that produced the classification"}},"required":["id"],"type":"object"},"type":"array"},"properties":{},"type":"object"},{"type":"null"}]},"comments":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}]},"created":{"description":"The
        timestamp the dataset event was created","format":"date-time","type":"string"},"dataset_id":{"description":"Unique
        identifier for the dataset","format":"uuid","type":"string"},"expected":{"description":"The
        output of your application, including post-processing (an arbitrary, JSON
        serializable object)"},"facets":{"anyOf":[{"additionalProperties":{"type":["string","null"]},"properties":{},"type":"object"},{"type":"null"}]},"id":{"description":"A
        unique identifier for the dataset event. If you don''t provide one, Braintrust
        will generate one for you","type":"string"},"input":{"description":"The argument
        that uniquely define an input case (an arbitrary, JSON serializable object)"},"is_root":{"description":"Whether
        this span is a root span","type":["boolean","null"]},"metadata":{"anyOf":[{"additionalProperties":{},"properties":{"model":{"description":"The
        model used for this example","type":["string","null"]}},"type":"object"},{"type":"null"}]},"origin":{"anyOf":[{"description":"Reference
        to the original object and event this was copied from.","properties":{"_xact_id":{"description":"Transaction
        ID of the original event.","type":["string","null"]},"created":{"description":"Created
        timestamp of the original event. Used to help sort in the UI","type":["string","null"]},"id":{"description":"ID
        of the original event.","type":"string"},"object_id":{"description":"ID of
        the object the event is originating from.","format":"uuid","type":"string"},"object_type":{"description":"Type
        of the object the event is originating from.","enum":["project_logs","experiment","dataset","prompt","function","prompt_session"],"type":"string"}},"required":["object_type","object_id","id"],"type":"object"},{"type":"null"}]},"project_id":{"description":"Unique
        identifier for the project that the dataset belongs under","format":"uuid","type":"string"},"root_span_id":{"description":"A
        unique identifier for the trace this dataset event belongs to","type":"string"},"span_id":{"description":"A
        unique identifier used to link different dataset events together as part of
        a full trace. See the [tracing guide](https://www.braintrust.dev/docs/instrument)
        for full details on tracing","type":"string"},"tags":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}]}}}},"cursor":"anNO4y1FAAE","realtime_state":{"type":"on","minimum_xact_id":null,"read_bytes":1356,"actual_xact_id":"1000197635730255173"},"freshness_state":{"last_processed_xact_id":null,"last_considered_xact_id":"1000197635730255173"},"warnings":[]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - BolDvFo2IAMEvtQ=
      x-amzn-RequestId:
      - 642cf8b4-67d2-4084-9499-5be8b5441123
      x-bt-api-duration-ms:
      - '121'
      x-bt-brainstore-duration-ms:
      - '79'
      x-bt-cursor:
      - anNO4y1FAAE
      x-bt-internal-trace-id:
      - 6a734ee40000000005540f09408671f8
    status:
      code: 200
      message: OK
[...]
