interactions:
- request:
    body: '{"api_version": 1, "input": {"text": "result \u2014 excellent"}, "metadata":
      null, "parent": "", "project_name": "test-project", "slug": "test-fn", "stream":
      false, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://proxy.braintrust.ai/function/invoke
  response:
    body:
      string: '{"output": "result \u2014 excellent"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1

