interactions:
- request:
    body: "{\n  \"query\": {\n    \"input\": \"What was Alphabet's revenue in 2022?\"\n
      \ },\n  \"servingConfig\": \"projects/sdk-dev-508013/locations/global/collections/default_collection/dataStores/braintrust-sdk-test-docs_1789580119475/servingConfigs/default_search\",\n
      \ \"summarySpec\": {\n    \"summaryResultCount\": 3,\n    \"includeCitations\":
      true\n  }\n}"
    headers:
      Content-Type:
      - application/json
      x-goog-request-params:
      - name=projects/sdk-dev-508013/locations/global/collections/default_collection/dataStores/braintrust-sdk-test-docs_1789580119475/conversations/-
    method: POST
    uri: https://discoveryengine.googleapis.com/v1/projects/sdk-dev-508013/locations/global/collections/default_collection/dataStores/braintrust-sdk-test-docs_1789580119475/conversations/-:converse?%24alt=json%3Benum-encoding%3Dint
  response:
    body:
      string: "{\n  \"reply\": {\n    \"summary\": {\n      \"summaryText\": \"Alphabet's
        consolidated revenues for the year ended December 31, 2022, were $282,836
        million [1].\\n\\nLooking at the quarterly revenues for 2022:\\n*   Q1 2022
        revenues were $68,011 million [2]. This was a 23% change in revenues year
        over year, or 26% in constant currency [2].\\n*   Q2 2022 revenues were $69,685
        million [3]. This represented a 13% change in revenues year over year, or
        16% in constant currency [3].\\n*   Q4 2022 consolidated revenues were $76,048
        million, which was up 1% year over year, or up 7% in constant currency [1].\\n\\nFor
        the year-to-date period ending June 30, 2022, Alphabet's revenues were $137,696
        million [3].\\n\\nSpecific revenue breakdowns for Q4 2022 include:\\n*   Google
        Search & other: $42,604 million [1].\\n*   YouTube ads: $7,963 million [1].\\n*
        \  Google Network: $8,475 million [1].\\n*   Google advertising: $59,042 million
        [1].\",\n      \"summaryWithMetadata\": {\n        \"summary\": \"Alphabet's
        consolidated revenues for the year ended December 31, 2022, were $282,836
        million.\\n\\nLooking at the quarterly revenues for 2022:\\n*   Q1 2022 revenues
        were $68,011 million. This was a 23% change in revenues year over year, or
        26% in constant currency.\\n*   Q2 2022 revenues were $69,685 million. This
        represented a 13% change in revenues year over year, or 16% in constant currency.\\n*
        \  Q4 2022 consolidated revenues were $76,048 million, which was up 1% year
        over year, or up 7% in constant currency.\\n\\nFor the year-to-date period
        ending June 30, 2022, Alphabet's revenues were $137,696 million.\\n\\nSpecific
        revenue breakdowns for Q4 2022 include:\\n*   Google Search & other: $42,604
        million.\\n*   YouTube ads: $7,963 million.\\n*   Google Network: $8,475 million.\\n*
        \  Google advertising: $59,042 million.\",\n        \"citationMetadata\":
        {\n          \"citations\": [\n            {\n              \"endIndex\":
        \"93\",\n              \"sources\": [\n                {}\n              ]\n
        \           },\n            {\n              \"startIndex\": \"139\",\n              \"endIndex\":
        \"181\",\n              \"sources\": [\n                {\n                  \"referenceIndex\":
        \"1\"\n                }\n              ]\n            },\n            {\n
        \             \"startIndex\": \"182\",\n              \"endIndex\": \"260\",\n
        \             \"sources\": [\n                {\n                  \"referenceIndex\":
        \"1\"\n                }\n              ]\n            },\n            {\n
        \             \"startIndex\": \"261\",\n              \"endIndex\": \"303\",\n
        \             \"sources\": [\n                {\n       [...]
