interactions:
- request:
    body: "{\n  \"model\": \"semantic-ranker-512@latest\",\n  \"topN\": 1,\n  \"query\":
      \"What is Braintrust?\",\n  \"records\": [\n    {\n      \"id\": \"1\",\n      \"content\":
      \"Braintrust is a platform for evaluating and monitoring AI applications.\"\n
      \   },\n    {\n      \"id\": \"2\",\n      \"content\": \"The moon orbits the
      Earth.\"\n    }\n  ]\n}"
    headers:
      Content-Type:
      - application/json
      x-goog-request-params:
      - ranking_config=projects/sdk-dev-508013/locations/global/rankingConfigs/default_ranking_config
    method: POST
    uri: https://discoveryengine.googleapis.com/v1/projects/sdk-dev-508013/locations/global/rankingConfigs/default_ranking_config:rank?%24alt=json%3Benum-encoding%3Dint
  response:
    body:
      string: "{\n  \"records\": [\n    {\n      \"id\": \"1\",\n      \"content\":
        \"Braintrust is a platform for evaluating and monitoring AI applications.\",\n
        \     \"score\": 0.8597\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
