interactions:
- request:
    body: "{\n  \"query\": \"test\",\n  \"records\": [\n    {\n      \"id\": \"empty\"\n
      \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json
      x-goog-request-params:
      - ranking_config=projects/sdk-dev-508013/locations/global/rankingConfigs/default_ranking_config
    method: POST
    uri: https://discoveryengine.googleapis.com/v1/projects/sdk-dev-508013/locations/global/rankingConfigs/default_ranking_config:rank?%24alt=json%3Benum-encoding%3Dint
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 400,\n    \"message\": \"RankRequest.records(0).title()
        and RankRequest.records(0).content() are empty at the same time.\",\n    \"status\":
        \"INVALID_ARGUMENT\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 400
      message: Bad Request
version: 1
